server:
    port: 8080
spring:
  mvc:
    view:
        prefix: /WEB-INF/jsp/
        suffix: .jsp
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/Spring_26_01?useUnicode=true&characterEncoding=utf8&autoReconnect=true&serverTimezone=Asia/Seoul
    username: root
    password:
mybatis:
    type-aliases-package: com.example.demo.vo
    mapper-locations: classpath:/mappers/**/*.xml
